<div class="graph-page">
  <h2 class="mb-2">Microcks Calls Visualization</h2>
  <div class="canvas-wrapper">
  <vflow [nodes]="nodes" [edges]="edges" view="auto" [background]="{ type: 'dots' }">
      <ng-template let-ctx edge>
        <svg:path
          class="animated-edge"
          fill="none"
          [attr.d]="ctx.path()"
          [attr.stroke-width]="2"
          [attr.stroke]="'#444'"
          [attr.marker-end]="ctx.markerEnd()" />
      </ng-template>

      <mini-map [scaleOnHover]="false" />
    </vflow>
  </div>
</div>
